@import url('https://fonts.cdnfonts.com/css/common-pixel');                

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: 'Common Pixel', sans-serif;
    user-select: none;
    overflow: auto;
}

#options{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 12000;
    color: #ddd;
    text-align: center;
}

#selected-option{
    width: calc(100% - 20px);
    padding: 10px;
}

#back{
    padding: 10px;
    text-align: left;
    width: calc(100% - 20px);
    display: inline-block;
    cursor: pointer;
}

.title-option{
    padding: 30px 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}


.vol-opt{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    row-gap: 10px;
}

.vol-opt div{
    padding: 20px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 40px;
}

.vol-opt div p{
    margin: 0;
    font-size: 20px;
}

.change-vol{
    cursor: pointer;
    padding: 0 10px;
}

.change-vol:active{
    opacity: .5;
}

.vol-opt div div{
    display: flex;
    flex-direction: row;
}

.container-question{
    color: #ddd;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% ;
    grid-template-rows: 25% 25%;
    align-content: center;
    justify-content: center;
    grid-template-areas: 
    "ask ask"
    "yes no";
    align-items: center;
    background-color: #000000bb;
    z-index: 1000;
    text-align: center;
    font-size: 30px;
    .ask{
        grid-area: ask;
    }
    .yes, .no{
        display: inline-block;
        cursor: pointer;
        padding: 10px;
    }
    .yes:hover, .no:hover{
        outline:2px solid #ddd;
    }
    .yes{
        grid-area: yes;
    }
    .no{
        grid-area: no;
    }
}

#menu{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: .5fr 1fr;
    background-color: #000;
    z-index: 10000;
    color: #ccc;
    font-size: 30px;
    #ul__menu{
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 50px;
        height: 100%;
        text-align: center;
    }
    #ul__menu li{
        padding: 10px 0;
        cursor: pointer;
        display: inline-block;
        list-style: none;
    }
    #ul__menu li:hover{
        outline: 2px solid #ccc;
    }
}

#pong-title{
    margin: 0;
    align-self: center;
    text-align: center;
}

#timer {
    padding: 10px;
    height: 40px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    top: 0;
    z-index: 200;
    background-color: #000;
    border: 20px solid #2e2e2e;
    color: #ccc;
}

.none{
    opacity: 0;
    pointer-events: none;
}

#state{
    position: absolute;
    z-index: 2000;
    color: #2e2e2e;
    bottom: 0;
    width: 100%;
}

#state ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 0;
}

#version-game{
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15px;
}

#screen{
    background-color: #000;
    width: 700px;
    height: 300px;
    border: 20px solid #2e2e2e;
    position: relative;
    overflow: hidden;
    scale: 100%;
    #pong-background{
        font-size: 100px;
        margin: 0 0 0 6.8px;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #080808;
    }
    .bars{
        background-color: #fff;
        width: 3px;
        height: 35px;
        position: absolute;
    }
    .ball{
        background-color: #fff;
        width: 5px;
        height: 5px;
        position: absolute;
        z-index: 999;
    }
}

#divisor{
    display: inline-block;
    width: 1px;
    background-color: #2e2e2e;
    height: 100%;
    position: absolute;
    left: calc(50% - 0px);
}

#circle{
    display: inline-block;
    border: 2px solid #2e2e2e;
    height: 100px;
    width: 100px;
    position: absolute;
    left: calc(50% - 51px);
    top: calc(50% - 51px);
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

#rsv-count{
    width: 10%;
    color: #ccc;
    position: absolute;
    z-index: 1500;
    text-align: center;
    scale: 4;
    opacity: 1;
}

#rsv-count p{
    margin: 0 10px;
}

#pointsCont{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    padding-left: 1px;
    font-size: 40px;
}

.playerPoints{
    text-align: center;
    color: #2e2e2e;
}

.bars:nth-child(odd){
    border-right: 2px solid #2e2e2e  ;
    left: 0;
}

.bars:nth-child(even){
    border-left: 2px solid #2e2e2e  ;
    right: 0;
}

.power{
    width: 10px;
    height: 10px;
    background-color: aqua;
    position: absolute;
    left: calc(50% - 5px);
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 2s ease-in-out 3;
    background-size: 400% 100%;
  }
  
  @keyframes rainbow_animation {
    0%,100% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
  }
  
.possible{
    animation: 1s shine infinite;
}

.impossible {
    opacity: .5;
    cursor: default !important;
}

.transparent{
    background-color: #000900b4;
}

.impossible:hover{
    outline: 0px solid #000 !important;
}

@keyframes shine {
    from{
        color: #2e2e2e;
    }
    to{
        color: #fff;
    }
}